[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/this-is-thiru/discovery-server.git
[submodule "api-gateway-service"]
	path = api-gateway-service
	url = https://github.com/this-is-thiru/api-gateway-service.git
[submodule "card-service"]
	path = card-service
	url = https://github.com/this-is-thiru/card-service.git
[submodule "address-service"]
	path = address-service
	url = https://github.com/this-is-thiru/address-service.git
[submodule "account-service"]
	path = account-service
	url = https://github.com/this-is-thiru/account-service.git
